<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regresion</td><td>scenarios.suite1.bdd.Place an Order()[pri:1000, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]<br/>scenarios.suite1.bdd.Update and delete an Order()[pri:1001, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]<br/></td></tr>
</table>
