<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>WebServiceTesting.scenarios.suite1.bdd</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="626197">  <td>18/04/04 10:34:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Place an Order()[pri:1000, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">Place an Order</td> 
  <td>main@341796579</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="626197">  <td>18/04/04 10:34:31</td>   <td>18642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Update and delete an Order()[pri:1001, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">Update and delete an Order</td> 
  <td>main@341796579</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="9291e3">  <td>18/04/04 10:34:31</td>   <td>18642</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="9291e3">  <td>18/04/04 10:34:31</td>   <td>19459</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="9291e3">  <td>18/04/04 10:34:31</td>   <td>18642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@341796579</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="9291e3">  <td>18/04/04 10:34:31</td>   <td>19459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@341796579</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="9291e3">  <td>18/04/04 10:34:31</td>   <td>19507</td> <td title="&lt;&lt;AbstractTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="9291e3">  <td>18/04/04 10:34:31</td>   <td>19475</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="9291e3">  <td>18/04/04 10:34:12</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="9291e3">  <td>18/04/04 10:34:31</td>   <td>18642</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="9291e3">  <td>18/04/04 10:34:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@341796579</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="9291e3">  <td>18/04/04 10:34:31</td>   <td>18642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@341796579</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="9291e3">  <td>18/04/04 10:34:12</td>   <td>-47</td> <td title="&gt;&gt;AbstractTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="9291e3">  <td>18/04/04 10:34:12</td>   <td>-15</td> <td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td>1000 1001 </td> </tr>
</table>
