<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>Given User register using webservice</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Response for register user-------{"id":"5ac45d1bee11cb0001ce8c51"}</div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;200&gt;
     Actual: was &lt;200&gt;</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>When User login with same credentials</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Response for login user-------GET http://10.12.40.220/login returned a response status of 200 OK</div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;200&gt;
     Actual: was &lt;200&gt;</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>And User add item '3395a43e-2d88-40de-b95f-e00e1502085b' in cart</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Response for add item to cart-------null</div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;201&gt;
     Actual: was &lt;201&gt;</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>And User verify cart</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Response for verify cart-------[{"id":"5ac45d1b9194be00070b4830","itemId":"3395a43e-2d88-40de-b95f-e00e1502085b","quantity":1,"unitPrice":18.0}]</div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;200&gt;
     Actual: was &lt;200&gt;</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>And User add Shipping Address as 'Test Road','500','UK','Pune','411057'</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Response for add adreess-------POST http://10.12.40.220/addresses returned a response status of 200 OK</div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;200&gt;
     Actual: was &lt;200&gt;</div><div  class="info"><span class="info-label">I </span>Response for get adreess-------GET http://10.12.40.220/addresses returned a response status of 200 OK</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>And User add card details as '102030405060708090','12/20','330'</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Response for add card details-------POST http://10.12.40.220/cards returned a response status of 200 OK</div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;200&gt;
     Actual: was &lt;200&gt;</div><div  class="info"><span class="info-label">I </span>Response for get card details-------GET http://10.12.40.220/cards returned a response status of 200 OK</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>Then User place order and verify the order</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Response for verify order-------{"id":"5ac45d2c20b543000b60ca2f","customerId":"5ac45d1bee11cb0001ce8c51","customer":{"id":null,"firstName":"ei8Fciq9ix","lastName":"35eYAOoqwP","username":"mzAT3YHP0O@info.com","addresses":[],"cards":[]},"address":{"id":null,"number":"500","street":"Test Road","city":"Pune","postcode":"411057","country":"UK"},"card":{"id":null,"longNum":"102030405060708090","expires":"12/20","ccv":""},"items":[{"id":"5ac45d1b9194be00070b4830","itemId":"3395a43e-2d88-40de-b95f-e00e1502085b","quantity":1,"unitPrice":18}],"shipment":{"id":"b2d0529b-a137-4596-a152-3d1181921d3f","name":"5ac45d1bee11cb0001ce8c51"},"date":"2018-04-04T05:05:48.270+0000","total":22.99}status code201</div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;201&gt;
     Actual: was &lt;201&gt;</div><div  class="info"><span class="info-label">I </span>Response for verify order-------[{"customerId":"5ac45d1bee11cb0001ce8c51","customer":{"firstName":"ei8Fciq9ix","lastName":"35eYAOoqwP","username":"mzAT3YHP0O@info.com","addresses":[],"cards":[]},"address":{"number":"500","street":"Test Road","city":"Pune","postcode":"411057","country":"UK"},"card":{"longNum":"102030405060708090","expires":"12/20","ccv":""},"items":[{"itemId":"3395a43e-2d88-40de-b95f-e00e1502085b","quantity":1,"unitPrice":18}],"shipment":{"name":"5ac45d1bee11cb0001ce8c51"},"date":"2018-04-04T05:05:48.270+0000","total":22.99,"_links":{"self":{"href":"http://orders/orders/5ac45d2c20b543000b60ca2f"},"order":{"href":"http://orders/orders/5ac45d2c20b543000b60ca2f"}}}]</div><div  class="pass"><span class="pass-label">P </span>
Expected: not null
     Actual: was "[{\"customerId\":\"5ac45d1bee11cb0001ce8c51\",\"customer\":{\"firstName\":\"ei8Fciq9ix\",\"lastName\":\"35eYAOoqwP\",\"username\":\"mzAT3YHP0O@info.com\",\"addresses\":[],\"cards\":[]},\"address\":{\"number\":\"500\",\"street\":\"Test Road\",\"city\":\"Pune\",\"postcode\":\"411057\",\"country\":\"UK\"},\"card\":{\"longNum\":\"102030405060708090\",\"expires\":\"12/20\",\"ccv\":\"\"},\"items\":[{\"itemId\":\"3395a43e-2d88-40de-b95f-e00e1502085b\",\"quantity\":1,\"unitPrice\":18}],\"shipment\":{\"name\":\"5ac45d1bee11cb0001ce8c51\"},\"date\":\"2018-04-04T05:05:48.270+0000\",\"total\":22.99,\"_links\":{\"self\":{\"href\":\"http://orders/orders/5ac45d2c20b543000b60ca2f\"},\"order\":{\"href\":\"http://orders/orders/5ac45d2c20b543000b60ca2f\"}}}]"</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>And User delete registered user</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Response for delete registered user-------DELETE http://10.12.40.220/customers/5ac45d1bee11cb0001ce8c51 returned a response status of 200 OK</div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;200&gt;
     Actual: was &lt;200&gt;</div></div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>Given User register using webservice</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Response for register user-------{"id":"5ac45d2cee11cb0001ce8c54"}</div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;200&gt;
     Actual: was &lt;200&gt;</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>When User login with same credentials</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Response for login user-------GET http://10.12.40.220/login returned a response status of 200 OK</div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;200&gt;
     Actual: was &lt;200&gt;</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>And User add item '3395a43e-2d88-40de-b95f-e00e1502085b' in cart</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Response for add item to cart-------null</div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;201&gt;
     Actual: was &lt;201&gt;</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>And User update item in cart quantity '7' for product '3395a43e-2d88-40de-b95f-e00e1502085b'</div><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;202&gt;
     Actual: was &lt;202&gt;</div><div  class="info"><span class="info-label">I </span>Response for update cart-------POST http://10.12.40.220/cart/update returned a response status of 202 Accepted</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>Then User verify cart</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Response for verify cart-------[{"id":"5ac45d2d9194be00070b4834","itemId":"3395a43e-2d88-40de-b95f-e00e1502085b","quantity":7,"unitPrice":18.0}]</div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;200&gt;
     Actual: was &lt;200&gt;</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>And User delete item '3395a43e-2d88-40de-b95f-e00e1502085b' in cart</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Response for delete item from cart-------DELETE http://10.12.40.220/cart returned a response status of 202 Accepted</div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;202&gt;
     Actual: was &lt;202&gt;</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>Then User verify cart</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Response for verify cart-------[]</div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;200&gt;
     Actual: was &lt;200&gt;</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>And User delete registered user</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Response for delete registered user-------DELETE http://10.12.40.220/customers/5ac45d2cee11cb0001ce8c54 returned a response status of 200 OK</div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;200&gt;
     Actual: was &lt;200&gt;</div></div></div></td></tr>
</table>